

#nav-list {
	margin-top:10px;
}

#nav-list a {
	color: #951C49;
	text-align: center;
	background-color: black;
}

#nav-list a:hover {
	background:#E7E7E7;
}

#text {
	background-color: lightgrey;
}